[user]
	name = Jason Stubbs
	email = jstubbs@travelpassgroup.com
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[credential]
	helper = osxkeychain
[pager]
	branch = false
[core]
    pager = less -FRX
[url "git@github.com:"]
	insteadOf = https://github.com/
